@font-face {
  font-family: 'Kollektif';
  src: url('../fonts/Kollektif/Kollektif.ttf');
}

@font-face {
  font-family: 'Poppins-ExtraLight';
  src: url('../fonts/Poppins/Poppins-ExtraLight.ttf');
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url('../fonts/Poppins/Poppins-Medium.ttf');
}

body {
  margin: 0;
  font-family: 'Poppins-ExtraLight';
  color: #E6E8EB;
  background-color: #011B34;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-bottom: 0.5em;
}
h1,
.h1 {
  font-family: 'Kollektif';
  font-size: 85px;
}

h2,
.h2 {
  font-size: 40px;
  text-transform: uppercase;
}

h3,
.h3 {
  font-size: 28px;
}

h4,
.h4 {
  font-size: 24px;
}

h5,
.h5 {
  font-size: 18px;
}

h6,
.h6 {
  font-size: 16px;
}

button,
.btn {
  display: inline-block;
  padding: 10px 30px;
  background: linear-gradient(144deg,#FF28B9,#AF40FF, #5B42F3 50%,#00DADB) padding-box,
              linear-gradient(144deg,#FF28B9,#AF40FF, #5B42F3 50%,#00DADB) border-box;
  border-radius: 5px;
  border: 2px solid transparent;
  text-decoration: none;
  color: #E6E8EB;
  cursor: pointer;
  font-family: 'Poppins-Medium';
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 2px;
  cursor: pointer;
}


button:hover,
.btn:hover {
  display: inline-block;
  padding: 10px 30px;
  background: linear-gradient(#011B34, #011B34) padding-box,
              linear-gradient(144deg,#FF28B9,#AF40FF, #5B42F3 50%,#00DADB) border-box;
}

.btn--secondary {
  display: inline-block;
  padding: 10px 30px;
  background: linear-gradient(#99A4AE, #99A4AE) padding-box,
              linear-gradient(#99A4AE, #99A4AE) border-box;
  color: #011B34;
}

.btn--secondary:hover {
  display: inline-block;
  padding: 10px 30px;
  background: linear-gradient(#011B34, #011B34) padding-box,
              linear-gradient(#99A4AE, #99A4AE) border-box;
  color: #99A4AE;
}


code {
  font-weight: 400;
  padding: 0 8px;
  font-size: 0.8em;
  font-family: 'Courier New', monospace;
}
/* ---> UTILITIES */

/* Colors */
.color-fucsia {
  color: #FF28B9;
}
.bg-color-fucsia {
  background-color: #FF28B9;
}

.color-turquoise {
  color: #00DADB;
}
.bg-color-turquoise {
  background-color: #00DADB;
}

.color-blue-100 {
  color: #011B34;
}
.bg-color-blue-100 {
  background-color: #011B34;
  border: 0.25px solid #E6E8EB;
}

.color-blue-70 {
  color: #4D5F71;
}
.bg-color-blue-70 {
  background-color: #4D5F71;
}

.color-blue-40 {
  color: #99A4AE;
}
.bg-color-blue-40 {
  background-color: #99A4AE;
}

.color-blue-10 {
  color: #E6E8EB;
}
.bg-color-blue-10 {
  background-color: #E6E8EB;
}



/* Own styles, these are only for styling THIS page */

.pattern-content {
  max-width: 800px;
  padding: 16px;
  margin: 16px auto;
  background-color: #011B34;
  border-radius: 8px;
}

.pattern-section {
  margin-bottom: 64px;
}

.pattern-color {
  display: inline-block;
  width: 100px;
  height: 100px;
  position: relative;
}

.pattern-color:before {
  content: attr(data-color);
  background-color: rgba(0,0,0,0.2);
  display: block;
  color: white;
  text-align: center;
}

.pattern-title {
  border-bottom: 1px solid #99A4AE;
  color: #99A4AE;    
}

[data-header]:before {
  content: attr(data-header) ": ";
}